openai>=2.37.0
python-docx
requests>=2.34.2
pandas
scikit-learn
transformers
elasticsearch==8.4.3
fastembed-gpu
tqdm
qdrant-client
sentence-transformers>=5.5.0
seaborn
tenacity
minsearch>=0.0.11
sqlitesearch>=0.0.5
psycopg[binary]>=3.3.4
python-dotenv>=1.2.2
toyaikit>=0.0.11
gitsource>=0.0.5
onnxruntime>=1.20.0
tokenizers>=0.20.0
huggingface-hub>=0.27.0
kestra>=0.11.0
streamlit>=1.40.0
opentelemetry-api
opentelemetry-sdk
pydantic-ai
logfire
dlt[duckdb]

